@font-face {
    font-family: "metropolis";
    src: local("Metropolis-Medium"),
        url(font/Metropolis-Medium.otf) format("opentype");
}

@font-face {
    font-family: "metropolis";
    src: local("Metropolis-Light"),
        url(font/Metropolis-Light.otf) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: "metropolis";
    src: local("Metropolis-Light"),
        url(font/Metropolis-Bold.otf) format("opentype");
    font-weight: 900;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'metropolis', 'Courier New', Courier, monospace;
    border: unset;
    background: unset
}

/* L'ensemble de la modal */
.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 60%;
    display: flex;
    z-index: 1000;
}

.modal-template {
    background-color: white;
    background: linear-gradient(90deg, #ffffff 60%, #000000 250%);
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    min-height: 50vh;
}

.cross {
    text-align: right;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    padding-top: 2%;
    padding-right: 2%;
}

.modal-template h3 {
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    font-weight: 200;
}

.modal-template section {
    text-align: left;
    padding-left: 5%
}

.modal-template section input {
    padding-right: 25px;

}

.modal-template header {
    display: flex;
}

.modal-template section label {
    display: inline-block;
    min-width: 110px;
    font-weight: 900;
    margin-top: 5px;

}

.modal-template section p {
    word-wrap: break-word;
}

.modal-template aside {
    width: 35%;
    background-image: url("./img/cookie-modal/cookie_back.jpg");
    background-size: cover;
    position: relative;
}

.modal-template hr {
    width: 93%;
    border: 1px solid rgba(0, 0, 0, 0.75);
    opacity: 25%;
}

.modal-template form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.modal-template form .btn-cookie {
    display: flex;
    justify-content: space-around;
}

.modal-template form .btn-cookie button {
    width: 150px;
    height: 40px;
}

.cookie-choose {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.cookie-all {
    border-left: 1px solid rgba(0, 0, 0, 0.25);

}

.cookie-one {
    width: 100px;
    position: absolute;
    right: -11%;
    top: 45%;
}

/* COOKIE END */

/*NEWS LETTER BEGIN*/

.news-letter-modal header {
    background-color: #000000;
    background-image: url("./img/newsletter-modal/mail_boxes.jpg");
    background-size: cover;
    filter: contrast(#000000);
    background-repeat: no-repeat;
    height: 200px;
    color: black;
    box-shadow: 0px 12px 39px -4px rgba(0, 0, 0, 0.5);

}

.news-letter-modal form section{
    align-items: center;
    display: flex;
flex-direction: column;
}
.news-letter-modal form section button{
    border: 1px solid gray;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
}
.news-letter-modal header h3 {
    text-shadow: 0px 0px 5px rgb(255,255,255);
    font-size: 40px;
   
}

.news-letter-modal form {
    width: 100%;
}

.news-letter-modal section {
    padding: 0;
}
.news-letter-modal section img {
    align-self: end;
}
.news-letter-modal section p {
    text-align: center;
}

.news-letter-modal input[type=email] {
    border: 1px solid black;
    width: 40%;
    height: 25px;
    align-self: center;
    border-radius: 15px;
}

.news-letter-modal .news-bike {
    width: 400px;
    align-self: center;
}

.news-letter-modal hr {
    margin-top: 0;
}

/* Image en bas a droite*/
.cookie {
    position: fixed;
    bottom: -20px;
    right: 2%;
    width: 150px;
    height: 150px;
}

.news-letter {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 100px;
}

/*Empeche l'élément d'être afficher */
.d-none {
    display: none;
}